:root {
    --cor-fundo: #af0c35;
    --cor-principal: #5f0505 ;
    --cor-secundaria: #b31877;
    --cor-destaque: #a0dee9;
    --cor-texto: #D7F9FF;
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
  }