:root {
    --cor-fundo: #ff008c;
    --cor-principal: #ff72c9d5 ;
    --cor-secundaria: #b754df;
    --cor-destaque: #a0dee9;
    --cor-texto: #a0e2ee;
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
  }
  h1{
   color: var(--cor-destaque);
  }